.twitter-typeahead, .twitter-typeahead:focus {
    width: 100%;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #438cad;
}

.tt-menu {
    padding: 8px;
    background-color: #fff;
    margin: 5px 0;
    outline: 0;
    border: 1px solid rgba(0,0,0,.15);
    right: 0;
    left: 0;
}

.tt-highlight {
    color: #438cad;
    font-weight: normal;
}

/* Date Range Picker Gadget */
.ues-component-box.widget .gadget-body .tt-menu {
    margin-left: 15px;
    margin-right: 15px;
}