<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESBTestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
    </listeners>
    <test name="Throttle-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.throttle"/>
        </packages>
    </test>

    <test name="Fault Mediator" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediator.test.aggregate.NestedAggregatesTestCase"/>
        </classes>
    </test>
    <test name="Aggregate-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.aggregate"/>
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.mediator.test.aggregate.NestedAggregatesTestCase">
                <methods>
                    <exclude name=".*" />
                </methods>
            </class>
        </classes>
    </test>


    <test name="Cache-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.cache"/>
        </packages>
		<classes>
           <class name="org.wso2.carbon.esb.mediator.test.cache.LargeCacheTimeOutTestCase">
                <methods>
                    <exclude name=".*" />
                </methods>
           </class>
        </classes>
    </test>

    <test name="Call-Template-Mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.callTemplate"/>
        </packages>
    </test>

    <test name="CallOut-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.callOut"/>
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.mediator.test.callOut.InboundOutboundPolicySecurityTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
            <class name="org.wso2.carbon.esb.mediator.test.callOut.SecurityTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
        </classes>
    </test>


    <test name="Call-mediator-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorHttpStatusResponseTestCase"/>
            <!--<class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorAPIWithNamedSeqCase"/>-->
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorBlockingAPITestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorBlockingDirectEndpointTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorBlockingFilterTestCase"/>
            <!--<class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorBlockingInboundOutboundPolicySecurityTestCase"/>-->
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorBlockingIndirectEndpointTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorBlockingInTemplateTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorBlockingProxyWithNamedSeqCase"/>
            <!--<class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorBlockingSecurityTestCase"/>-->
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorBlockingSwitchTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorBlockingTransportHeaderTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorBlockingWSDLEndpointTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorFailOverTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorFaultHandlingTests"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorFaultTriggerTestCase"/>
            <!--<class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorInAPITestCase"/>-->
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorInBothProxyInAndOutSequencesTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorInCloneTargetSequencesTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorInCloneTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorInFaultSeqTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorInFilterTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorInIterateTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorInMainScenario2TestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorInMainTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorInNestedFilterSwitchScenario2TestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorInNestedFilterSwitchTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorInNestedFilterTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorInSwitchTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorInTemplateTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorLoadBalanceFailoverTest"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorOutOnlyTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorProxyWithNamedSeqCase"/>
           <class name="org.wso2.carbon.esb.mediator.test.call.ESBJAVA4469CallMediatorWithOutOnlyTestCase"/>
           <class name="org.wso2.carbon.esb.mediator.test.call.ESBJAVA5216CallMediatorPerAPILogTest"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorBlockingFailoverTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorBlockingLoadBalanceFailoverTest"/>
            <!--This has been commented out until carbon kernel going to release with axis2 version 1.6.1-wso2v23.-->
            <!--<class name="org.wso2.carbon.esb.mediator.test.call.ESBJAVA5217NoDefaultContentTypeTestCase"/>-->

<!--            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorFailOverTestCase">
                <methods>
                    <exclude name=".*" />
                </methods>
           </class>
                <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorInAPITestCase">
                <methods>
                    <exclude name=".*" />
                </methods>
           </class>
                <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorAPIWithNamedSeqCase">
                <methods>
                    <exclude name=".*" />
                </methods>
           </class>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorBlockingSecurityTestCase">
                <methods>
                    <exclude name=".*" />
                </methods>
            </class>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorBlockingInboundOutboundPolicySecurityTestCase">
                <methods>
                    <exclude name=".*" />
                </methods>
            </class>&ndash;&gt;-->
        </classes>
    </test>

    <test name="Clone-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.clone"/>
        </packages>
    </test>

    <test name="ConditionalRouting-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.conditionalRouter"/>
        </packages>
    </test>

    <test name="Drop-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.drop"/>
        </packages>
    </test>

    <test name="Message-Store-Test" preserve-order="true" verbose="2">
        <classes>
            <!--<class name="org.wso2.carbon.esb.message.store.test.JMSEndpointSuspensionViaVFSTest"/>-->
            <class name="org.wso2.carbon.esb.message.store.test.MessageStoreMessageCleaningTestCase"/>
            <class name="org.wso2.carbon.esb.message.store.test.MessageStoreMessageConcurrencyTestCase"/>
            <class name="org.wso2.carbon.esb.message.store.test.MessageStoreMessageDeleteTestCase"/>
            <class name="org.wso2.carbon.esb.message.store.test.MessageStoreMessageStoringTestCase"/>
            <class name="org.wso2.carbon.esb.message.store.test.MessageStorePersistenceTestCase"/>
            <class name="org.wso2.carbon.esb.message.store.test.DynamicMessageRoutingTestCase"/>
        </classes>
    </test>

    <test name="Enrich-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.enrich"/>
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.mediator.test.enrich.jsonpath.EnrichIntegrationJsonPathTestCase">
            </class>
        </classes>
    </test>

    <test name="Fault-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.fault"/>
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.mediator.test.fault.Soap11FaultFullTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Filter-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.filter"/>
        </packages>
    </test>

    <test name="Header-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.header"/>
        </packages>
    </test>
    <test name="In-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.in"/>
        </packages>
    </test>


    <test name="Log-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.log"/>
        </packages>
    </test>

    <test name="Out-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.out"/>
        </packages>
    </test>

    <test name="Property-mediator-Test-1" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.property"/>
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.mediator.test.property.PropertyIntegrationXpathAxis2PropertyTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
            <class name="org.wso2.carbon.esb.mediator.test.property.PropertyIntegrationXPathTrpPropertyTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
            <class name="org.wso2.carbon.esb.mediator.test.property.PropertyIntegrationXPathExtensionTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
            <class name="org.wso2.carbon.esb.mediator.test.property.PropertyIntegrationXPathBodyTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="PayloadFactory-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.payload.factory"/>
        </packages>
    </test>

    <test name="Rewrite-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.rewrite"/>
        </packages>
    </test>

    <test name="Router-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.router"/>
        </packages>
    </test>

    <test name="Foreach-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.foreach"/>
        </packages>
    </test>

    <test name="Rule-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.rule"/>
        </packages>
    </test>
    <test name="Send-mediator-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediator.test.send.MTOMEnableDisableSendMediatorTestCase"/>
        </classes>
    </test>
    <test name="Transaction Mediator" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediator.test.transaction.TransactionMediatorTestCase"/>
        </classes>
    </test>
    <test name="DBLookup-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.db.dblookup"/>
        </packages>
    </test>
    <test name="DBReport-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.db.dbreport"/>
        </packages>
    </test>
    <!--This has been commented out due to an issue in the automation framework. Once it is fixed (pull request already sent), we can uncomment this.-->
    <!--test name="dbreport-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.db.dbreport"/>
        </packages>
    </test-->

    <test name="MSMP-Testcases" preserve-order="true" verbose="2">
        <classes>
            <!--TODO Uncomment following test case after wso2-synapse 2.1.7-wso2v22 upgrade
            <class name="org.wso2.carbon.esb.message.processor.test.MessageProcessorSOAPHeadersTestcase"/-->
            <class name="org.wso2.carbon.esb.message.processor.test.DynamicallySettingWSAHeadersTestCase"/>
            <class name="org.wso2.carbon.esb.message.processor.test.DeactivatedCappMPBehaviourOnRestartTestCase"/>
        </classes>
    </test>

</suite>

