<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESBTestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
    </listeners>
    <test name="Throttle-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.throttle"/>
        </packages>
    </test>

    <test name="Fault Mediator" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediator.test.aggregate.NestedAggregatesTestCase"/>
        </classes>
    </test>
    <test name="Aggregate-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.aggregate"/>
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.mediator.test.aggregate.NestedAggregatesTestCase">
                <methods>
                    <exclude name=".*" />
                </methods>
            </class>
        </classes>
    </test>


    <test name="Cache-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.cache"/>
        </packages>
		<classes>
           <class name="org.wso2.carbon.esb.mediator.test.cache.LargeCacheTimeOutTestCase">
                <methods>
                    <exclude name=".*" />
                </methods>
           </class>
        </classes>
    </test>

    <test name="Call-Template-Mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.callTemplate"/>
        </packages>
    </test>

    <test name="CallOut-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.callOut"/>
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.mediator.test.callOut.InboundOutboundPolicySecurityTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
            <class name="org.wso2.carbon.esb.mediator.test.callOut.SecurityTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
        </classes>
    </test>


    <test name="Call-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.call"/>
        </packages>
        <classes>
           <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorFailOverTestCase">
                <methods>
                    <exclude name=".*" />
                </methods>
           </class>
                <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorInAPITestCase">
                <methods>
                    <exclude name=".*" />
                </methods>
           </class>
                <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorAPIWithNamedSeqCase">
                <methods>
                    <exclude name=".*" />
                </methods>
           </class>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorBlockingSecurityTestCase">
                <methods>
                    <exclude name=".*" />
                </methods>
            </class>
            <class name="org.wso2.carbon.esb.mediator.test.call.CallMediatorBlockingInboundOutboundPolicySecurityTestCase">
                <methods>
                    <exclude name=".*" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="Clone-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.clone"/>
        </packages>
    </test>

    <test name="ConditionalRouting-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.conditionalRouter"/>
        </packages>
    </test>

    <test name="Drop-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.drop"/>
        </packages>
    </test>

    <test name="Message-Store-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.message.store.test"/>
            <!-- The following test package is commented, since it needs
                org.wso2.carbon.automation.test.utils - 4.3.2-SNAPSHOT
            <package name="org.wso2.carbon.esb.message.store.jdbc.test"/>-->
        </packages>
    </test>

    <test name="Enrich-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.enrich"/>
        </packages>
    </test>

    <test name="Fault-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.fault"/>
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.mediator.test.fault.Soap11FaultFullTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Filter-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.filter"/>
        </packages>
    </test>

    <test name="Header-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.header"/>
        </packages>
    </test>
    <test name="In-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.in"/>
        </packages>
    </test>


    <test name="Log-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.log"/>
        </packages>
    </test>

    <test name="Out-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.out"/>
        </packages>
    </test>

    <test name="Property-mediator-Test-0" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediator.test.property.PropertyIntegrationXpathAxis2PropertyTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.property.PropertyIntegrationXPathTrpPropertyTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.property.PropertyIntegrationXPathExtensionTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.property.PropertyIntegrationXPathBodyTestCase"/>
        </classes>
    </test>
    <test name="Property-mediator-Test-1" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.property"/>
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.mediator.test.property.PropertyIntegrationXpathAxis2PropertyTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
            <class name="org.wso2.carbon.esb.mediator.test.property.PropertyIntegrationXPathTrpPropertyTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
            <class name="org.wso2.carbon.esb.mediator.test.property.PropertyIntegrationXPathExtensionTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
            <class name="org.wso2.carbon.esb.mediator.test.property.PropertyIntegrationXPathBodyTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="PayloadFactory-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.payload.factory"/>
        </packages>
    </test>

    <test name="Rewrite-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.rewrite"/>
        </packages>
    </test>

    <test name="Router-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.router"/>
        </packages>
    </test>

    <test name="Foreach-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.foreach"/>
        </packages>
    </test>

    <test name="Rule-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.rule"/>
        </packages>
    </test>
    <!--This has been commented out due to an issue in the automation framework. Once it is fixed (pull request already sent), we can uncomment this.-->
    <!--test name="dbreport-mediator-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediator.test.db.dbreport"/>
        </packages>
    </test-->


</suite>

