<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESBTestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>

    <test name="Rule mediator Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediators.rule.ESBJAVA2506RuleFetchFromRegistryFailsForTheFirstTime"/>
        </classes>
    </test>

    <!-- FIX - Cannot find class in classpath: org.wso2.carbon.esb.ServerStartupTestCase -->
    <!--test name="Server-Stratup" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.ServerStartupTestCase"/>
         </classes>
    </test-->

    <test name="API-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.api.test.ESBJAVA3751UriTemplateReservedCharacterEncodingTest"/>
            <class name="org.wso2.carbon.esb.api.apidefinition.ESBJAVA4907SwaggerGenerationTestCase"/>
            <class name="org.wso2.carbon.esb.api.apidefinition.ESBJAVA4936SwaggerGenerationJsonYamlTestCase"/>
        </classes>
    </test>

    <test name="Template-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.template.*"/>
        </packages>
    </test>

    <test name="GetProcessor-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.getprocessor.test"/>
        </packages>
    </test>

    <test name="Registry-Caching-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.registry.caching"/>
        </packages>
    </test>

    <test name="No Entity Body Check" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.passthru.transport.test.NoEntityBodyPropertyCheck"/>
        </classes>
    </test>
    <test name="Custom Status Description Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4423CustomStatusDescriptionTest"/>
        </classes>
    </test>

    <test name="QueryParam-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.endpoint.test.ESBJAVA3340QueryParamHttpEndpointTestCase"/>
            <class name="org.wso2.carbon.esb.endpoint.test.ESBJAVA4231EmptyPayloadInFailoverLoadBalanceEndpoint"/>
            <class name="org.wso2.carbon.esb.endpoint.test.FaultSequenceExecutionOrderTestCase"/>
            <class name="org.wso2.carbon.esb.endpoint.test.EndpointErrorTest"/>
        </classes>
    </test>

    <test name="JSON-Tests" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.json"/>
        </packages>
    </test>

    <test name="EmptyStackExceptionTest" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediators.clone.ESBJAVA3412EmptyStackExceptionTest"/>
        </classes>
    </test>

    <test name="Endpoint Exisitance Test Case in Tenant Deployed through CAPP" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.car.deployment.test.ESBJAVA3611EndpointTestCase"/>
        </classes>
    </test>
    <!--test name="Cache mediator with REQUESTHASHGenerator test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediators.cache.APIMANAGER1838RequestHashGeneratorTestCase"/>
        </classes>
    </test-->
    <test name="Cache mediator with PIs test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediators.cache.ESBJAVA4318Testcase"/>
            <class name="org.wso2.carbon.esb.mediators.cache.DistributedCachingHeaderSerializationTestcase" />
        </classes>
    </test>

    <test name="Enrich Mediator Tests" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediators.enrich.ESBJAVA3676EnrichSourcePropNoClone"/>
            <class name="org.wso2.carbon.esb.mediators.enrich.ESBJAVA4892EnrichPropertyTestCase"/>
        </classes>
    </test>

    <test name="JMS Test">
        <classes>
            <class name="org.wso2.carbon.esb.jms.transport.test.JMSBrokerStartupTestCase" />
            <class name="org.wso2.carbon.esb.jms.transport.test.ESBJAVA3714JMXPauseJMSListener" />
            <class name="org.wso2.carbon.esb.jms.transport.test.ESBJAVA3282CalloutJMSHeadersTestCase" />
            <class name="org.wso2.carbon.esb.mediators.store.ESBJAVA4470StoreMediatorEmptyOMArraySerializeException" />
            <class name="org.wso2.carbon.esb.jms.transport.test.ESBJAVA4692_MP_FaultSequence_HttpsEndpoint_TestCase" />
            <class name="org.wso2.carbon.esb.jms.transport.test.ESBJAVA4702JMSHeaderTest"/>
        </classes>
    </test>

    <test name="VFS SFTP test"
          preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.vfs.transport.test.ESBJAVA3470"/>
            <class name="org.wso2.carbon.esb.vfs.transport.test.ESBJAVA4679VFSPasswordSecurityTestCase"/>
            <class name="org.wso2.carbon.esb.vfs.transport.test.ESBJAVA4770VFSPasswordSecurityWithLargekeyTestCase"/>
        </classes>
    </test>

    <test name="Xml payload and json Content Type Test Case" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.json.ESBJAVA_3698_MessageBuildingWithDifferentPayloadAndContentTypeTestCase" />
        </classes>
    </test>

	<test name="Duplicate SOAP Action Header Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediators.callout.CARBON15119DuplicateSOAPActionHeader" />
        </classes>
	</test>

    <test name="host-header-handling-test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA3336HostHeaderValuePortCheckTestCase"></class>
        </classes>
    </test>

    <!-- Commented the test case due to a regression issue occurred due to this fix.
             Need to enable this test case once the original issue is fixed properly -->
    <!--test
		name="security-policy-reference-element-in-wsdl-bindings-for-capp-test"
		preserve-order="true" verbose="2">
		<classes>
			<class
				name="org.wso2.carbon.esb.security.policy.ESBJAVA3899_PolicyReferenceInWSDLBindingsTestCase" />
		</classes>
    </test-->

    <test name="proxy-start-on-load-false-test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.car.deployment.test.ESBJAVA3546CAppProxyOnLoadTestCase"/>
        </classes>
    </test>

    <test name="Carbon-app-file-re-deployment-test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.car.deployment.test.CarbonApplicationReDeploymentTestCase"/>
            <class name="org.wso2.carbon.esb.car.deployment.test.ESBJAVA4116CAppArtifactDeploymentFailureDueToNameTestCase"/>
        </classes>
    </test>

    <test name="soap-header-handling-test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediators.callout.ESBJAVA_4118_SOAPHeaderHandlingTest"></class>
        </classes>
    </test>

	<test
		name="MessageProcessorRetryUponHTTP-SC-500-With-200-202-as-non-retrysc-TestCase"
		preserve-order="true" verbose="2">
		<classes>
			<class
				name="org.wso2.carbon.esb.jms.transport.test.JMSBrokerStartupTestCase" />
			<class
				name="org.wso2.carbon.esb.message.processor.test.ESBJAVA4279_MPRetryUponResponseSC_500_withNonRetryStatusCodes_200_and_202_TestCase" />
            <class name="org.wso2.carbon.esb.message.processor.test.ESBJAVA3650_CustomHeaderPreserved_MessageProcessorOutMessage_TestCase" />
		</classes>
	</test>

    <test name="Callout-mediator-status-code-test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediators.callout.ESBJAVA_4239_HTTP_SC_HandlingTests"></class>
        </classes>
    </test>

    <test name="content-type application/json GET request test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.json.ESBJAVA4270TestCase"></class>
        </classes>
    </test>

    <test name="ut-scenario-401-on-wrong-credentials-test" preserve-order="true" verbose="2">
        <classes><class name="org.wso2.carbon.esb.security.policy.UTResponseCode401UTauthFailure"></class></classes>
    </test>


    <test name="JSON empty Array NHTTP transport Test Case" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.nhttp.transport.json.test.ESBJAVA4331MissingJSONEmptyArrayNHTTPTransport"/>
        </classes>
    </test>

    <test name="Staxon JSON formatter escape auto primitive test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.json.ESBJAVA4781EscapeAutoPrimitiveTestCase"/>
        </classes>
    </test>


	<test name="Access HTTP SC after Callout mediator test">
		<classes>
			<class
				name="org.wso2.carbon.esb.mediators.callout.ESBJAVA_4239_AccessHTTPSCAfterCallout"></class>
		</classes>
	</test>

    <test name="ESBJAVA4394" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4394"/>
        </classes>
    </test>

    <test name="ESBJAVA4328TestCase" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4328RestUrlPostFixValueEncodeTestCase"/>
        </classes>
    </test>

<!--todo uncomment below test once ESB  moves to ntask version 4.6.0 or higher-->
    <!--<test name="Test startup logs for FATAL error when registry is mounted" preserve-order="true" verbose="2">-->
        <!--<classes>-->
            <!--<class name="org.wso2.carbon.esb.ntask.CCOMMONS8SetTenantDomainTest"/>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="ESBJAVA_4565" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.registry.task.ESBJAVA4565TestCase"/>
        </classes>
    </test>

    <test name="ESBJAVA_4631" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.header.preserve.ESBJAVA4631PreserveContentTypeHeaderTestCase"/>
        </classes>
    </test>

    <test name="Payload Factory" preserve-order="true" verbose="2" parallel="false">
        <classes>
            <class name="org.wso2.carbon.esb.mediators.payloadFactory.ESBJAVA3573PayloadFormatWithBeginHtmlTagArgument"/>
        </classes>
    </test>
    <test name="Preserver Content-Type Header Test" preserve-order="true" verbose="2" parallel="false">
        <classes>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4631PreserveHTTPHeadersTest"/>
        </classes>
    </test>
    <test name="Http AccessLog Generation Test" preserve-order="true" verbose="2" parallel="false">
        <classes>
            <class name="org.wso2.carbon.esb.passthru.transport.test.HttpAccessLogTestCase"/>
        </classes>
    </test>
    <test name="ESBJAVA4760" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4760ContentLengthHeaderTest"/>
        </classes>
    </test>
    <test name="ESBJAVA4909" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.nhttp.transport.mtom.test.ESBJAVA4909MultipartRelatedTestCase"/>
        </classes>
    </test>
    <test name="ESBJAVA_4913" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediators.clone.ESBJAVA4913HandleExceptionTest"/>
        </classes>
    </test>
    <test name="ESBJAVA_4931_PreserveContentTypeHeaderCharSetTestCase" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4931PreserveContentTypeHeaderCharSetTestCase"/>
        </classes>
    </test>
    <test name="ESBJAVA_4940" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.nhttp.transport.json.test.ESBJAVA4940CharacterEncodingRemovalTestCase"/>
        </classes>
    </test>
    <test name="ESBJAVA_3770_DropLargePayloadsPreventESBFromOOMTestCase" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA3770DropLargePayloadsPreventESBFromOOMTestCase"/>
        </classes>
    </test>
</suite>

