<!--
  ~ Copyright (c) 2017, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESBTestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>

    <!-- FIX - Cannot find class in classpath: org.wso2.carbon.esb.ServerStartupTestCase -->
    <!--test name="Server-Stratup" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.ServerStartupTestCase"/>
         </classes>
    </test-->

    <test name="API-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.api.test.ESBJAVA3751UriTemplateReservedCharacterEncodingTest"/>
            <class name="org.wso2.carbon.esb.api.apidefinition.ESBJAVA4907SwaggerGenerationTestCase"/>
            <class name="org.wso2.carbon.esb.api.apidefinition.ESBJAVA4936SwaggerGenerationJsonYamlTestCase"/>
        </classes>
    </test>

    <test name="Mediator-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediators.header.ESBJAVA5098_WSAddressingSupportTest"/>
            <class name="org.wso2.carbon.esb.mediators.clone.ESBJAVA3412EmptyStackExceptionTest"/>
            <class name="org.wso2.carbon.esb.mediators.enrich.ESBJAVA3676EnrichSourcePropNoClone"/>
            <class name="org.wso2.carbon.esb.mediators.enrich.ESBJAVA4892EnrichPropertyTestCase"/>
            <class name="org.wso2.carbon.esb.mediators.enrich.EI2084EnrichNamespaceAdditionTestCase"/>
            <class name="org.wso2.carbon.esb.mediators.callout.CARBON15119DuplicateSOAPActionHeader"/>
            <class name="org.wso2.carbon.esb.mediators.callout.ESBJAVA_4118_SOAPHeaderHandlingTest"/>
            <class name="org.wso2.carbon.esb.mediators.callout.ESBJAVA_4239_HTTP_SC_HandlingTests"/>
            <class name="org.wso2.carbon.esb.mediators.callout.ESBJAVA_4239_AccessHTTPSCAfterCallout"/>
            <class name="org.wso2.carbon.esb.mediators.payloadFactory.ESBJAVA3573PayloadFormatWithBeginHtmlTagArgument"/>
            <class name="org.wso2.carbon.esb.mediators.clone.ESBJAVA4913HandleExceptionTest"/>
            <class name="org.wso2.carbon.esb.mediators.aggregate.ESBJAVA5103CorrelateOnExpressionTestCase"/>
            <class name="org.wso2.carbon.esb.mediators.cache.DistributedCachingHeaderSerializationTestcase"/>
            <!--class name="org.wso2.carbon.esb.mediators.cache.ESBJAVA4318Testcase"/-->
            <class name="org.wso2.carbon.esb.mediators.rule.ESBJAVA2506RuleFetchFromRegistryFailsForTheFirstTime"/>
        </classes>
    </test>

    <test name="Endpoint-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.endpoint.test.ESBJAVA3340QueryParamHttpEndpointTestCase"/>
            <class name="org.wso2.carbon.esb.endpoint.test.ESBJAVA4231EmptyPayloadInFailoverLoadBalanceEndpoint"/>
            <class name="org.wso2.carbon.esb.endpoint.test.FaultSequenceExecutionOrderTestCase"/>
            <class name="org.wso2.carbon.esb.endpoint.test.EndpointErrorTest"/>
        </classes>
    </test>

    <test name="JSON-Tests" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.json"/>
        </packages>
    </test>

    <test name="Registry-Caching-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.registry.caching"/>
        </packages>
    </test>

    <test name="Passthrough transport test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.passthru.transport.test.NoEntityBodyPropertyCheck"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4423CustomStatusDescriptionTest"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4328RestUrlPostFixValueEncodeTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4394"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4760ContentLengthHeaderTest"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.HttpAccessLogTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4631PreserveHTTPHeadersTest"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA3770DropLargePayloadsPreventESBFromOOMTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA3336HostHeaderValuePortCheckTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ForceMessageValidationTestCase" />
            <!--<class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4931PreserveContentTypeHeaderCharSetTestCase"/>-->
        </classes>
    </test>

    <test name="NHTTP-Transport-Tests" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.nhttp.transport.NhttpBaseTestCase"/>
            <class name="org.wso2.carbon.esb.nhttp.transport.json.test.ESBJAVA4940CharacterEncodingRemovalTestCase"/>
            <class name="org.wso2.carbon.esb.nhttp.transport.json.test.ESBJAVA4331MissingJSONEmptyArrayNHTTPTransport"/>
            <class name="org.wso2.carbon.esb.nhttp.transport.mtom.test.ESBJAVA4909MultipartRelatedTestCase"/>
            <!-- If there are any test cases which need server restarts with new configurations, they should not be added
             here but in a separate test block-->
        </classes>
    </test>

    <!--test name="Cache mediator with REQUESTHASHGenerator test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediators.cache.APIMANAGER1838RequestHashGeneratorTestCase"/>
        </classes>
    </test-->
    <test name="JMS Test">
        <classes>
            <class name="org.wso2.carbon.esb.jms.transport.test.JMSBrokerStartupTestCase" />
            <class name="org.wso2.carbon.esb.jms.transport.test.EI1622JMSInboundMessagePollingConsumerTest" />
            <!--<class name="org.wso2.carbon.esb.jms.transport.test.ESBJAVA3714JMXPauseJMSListener" />-->
            <class name="org.wso2.carbon.esb.jms.transport.test.ESBJAVA3282CalloutJMSHeadersTestCase" />
            <class name="org.wso2.carbon.esb.mediators.store.ESBJAVA4470StoreMediatorEmptyOMArraySerializeException" />
            <class name="org.wso2.carbon.esb.jms.transport.test.ESBJAVA4692_MP_FaultSequence_HttpsEndpoint_TestCase" />
        </classes>
    </test>

    <test name="VFS SFTP test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.vfs.transport.test.ESBJAVA3470"/>
            <class name="org.wso2.carbon.esb.vfs.transport.test.ESBJAVA4679VFSPasswordSecurityTestCase"/>
            <class name="org.wso2.carbon.esb.vfs.transport.test.ESBJAVA4770VFSPasswordSecurityWithLargekeyTestCase"/>
        </classes>
    </test>
    <!-- Commented the test case due to a regression issue occurred due to this fix.
             Need to enable this test case once the original issue is fixed properly -->
    <!--test
		name="security-policy-reference-element-in-wsdl-bindings-for-capp-test"
		preserve-order="true" verbose="2">
		<classes>
			<class
				name="org.wso2.carbon.esb.security.policy.ESBJAVA3899_PolicyReferenceInWSDLBindingsTestCase" />
		</classes>
    </test-->

    <test name="Carbon-app-deployment-test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.car.deployment.test.ESBJAVA3611EndpointTestCase"/>
            <class name="org.wso2.carbon.esb.car.deployment.test.ESBJAVA3546CAppProxyOnLoadTestCase"/>
            <class name="org.wso2.carbon.esb.car.deployment.test.ESBJAVA4116CAppArtifactDeploymentFailureDueToNameTestCase"/>
            <class name="org.wso2.carbon.esb.car.deployment.test.CarbonApplicationReDeploymentTestCase"/>
            <class name="org.wso2.carbon.esb.car.deployment.test.CARBON16113DeployArtifactsBeforeTransportStarsTestCase"/>
        </classes>
    </test>

    <test name="soap-header-handling-test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.message.processor.test.ESBJAVA4279_MPRetryUponResponseSC_500_withNonRetryStatusCodes_200_and_202_TestCase" />
            <class name="org.wso2.carbon.esb.message.processor.test.ESBJAVA3650_CustomHeaderPreserved_MessageProcessorOutMessage_TestCase" />
        </classes>
    </test>

    <test name="Misc-tests" preserve-order="true" verbose="2">
        <classes>
            <!--<class name="org.wso2.carbon.esb.template.HttpEpTemplateWithSystemPropsTestCase"/>-->
            <class name="org.wso2.carbon.esb.security.policy.UTResponseCode401UTauthFailure"/>
            <class name="org.wso2.carbon.esb.registry.task.ESBJAVA4565TestCase"/>
            <class name="org.wso2.carbon.esb.header.preserve.ESBJAVA4631PreserveContentTypeHeaderTestCase"/>
            <class name="org.wso2.carbon.esb.getprocessor.test.FaviconTest"/>
        </classes>
    </test>

    <!--todo uncomment below test once ESB  moves to ntask version 4.6.0 or higher-->
    <!--<test name="Test startup logs for FATAL error when registry is mounted" preserve-order="true" verbose="2">-->
        <!--<classes>-->
            <!--<class name="org.wso2.carbon.esb.ntask.CCOMMONS8SetTenantDomainTest"/>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="Datamapper-mediator-tests" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.datamapper.ESBJAVA5021MultiplePrefixesAndDashSupport"/>
            <class name="org.wso2.carbon.esb.datamapper.ESBJAVA5045XsiNilElementSupport"/>
            <class name="org.wso2.carbon.esb.datamapper.ESBJAVA5200DashSupportForMappingDataTestCase"/>
            <class name="org.wso2.carbon.esb.datamapper.NestedElementsWithSameNameTest"/>
        </classes>
    </test>

</suite>
