*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml
.idea/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/
*.mar

# ignore Intellij-IDEA files
*.iml
*.ipr
*.iws
*.classpath
*.settings
*.project
*.idea
.DS_Store

#ignore /.meta directories
.meta/

# ignore target directories
target/
*.*~

# ignore the copied samples
integration/mediation-tests/tests-platform/tests-wso2mb/src/test/resources/artifacts/ESB/samples/
