*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.mar
*.iml
.idea/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/

# ignore Intellij-IDEA files
*.iml
*.ipr
*.iws
*.classpath
*.settings
*.project
*.idea
.DS_Store

# ignore target directories
target/
*.*~
