<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BPS Test Suite" parallel="false">
    <parameter name="useDefaultListeners" value="false"/>

    <test name="BPELTests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.ei.businessprocess.integration.tests.patches.bpel"/>
        </packages>
    </test>

</suite>
