<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ESBTestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>
    <test name="ProxyService-Test" preserve-order="true" verbose="2" parallel="false">
        <packages>
            <package name="org.wso2.carbon.esb.proxyservice.test.proxyservices"/>
            <package name="org.wso2.carbon.esb.proxyservice.test.customProxy"/>
            <package name="org.wso2.carbon.esb.proxyservice.test.passThroughProxy"/>
            <package name="org.wso2.carbon.esb.proxyservice.test.transformerProxy"/>
            <package name="org.wso2.carbon.esb.proxyservice.test.wsdlBasedProxy"/>
            <!-- secureProxy package commented since it requires carbon-identity release for applySecurity functionality
                in SecurityConfigAdmin -->
            <!--package name="org.wso2.carbon.esb.proxyservice.test.secureProxy"/-->
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.WSDLOptionsPickedFromRegistryTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.ProxyServiceEnablingHTTPSTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.PickEndPointFromRegistryTestCase"/>
            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.ProxyServiceEnablingHTTPTestCase"/>
            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.ProxyServiceEndPointThroughURLTestCase"/>
            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.RequestLogLevelFullResponseLogLevelFullTestCase"/>
            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.RequestLogLevelNoneResponseLogLevelNoneTestCase"/>
            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.RequestLogLevelSimpleResponseLogLevelSimpleTestCase"/>
            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.WSDLOptionsSpecifiedInlineTestCase"/>
            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.WSDLOptionsSpecifiedSourceUrlTestCase"/>
        </classes>
    </test>
    <test name="Endpoint-Test" preserve-order="true" verbose="2" parallel="false">
        <packages>
            <package name="org.wso2.carbon.esb.endpoint.test"/>
        </packages>
    </test>
    <test name="LocalEntry-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.localentry.test.general"/>
            <package name="org.wso2.carbon.esb.localentry.test"/>
        </packages>
    </test>
    <test name="Rest-API-Test" preserve-order="true" verbose="2" parallel="false">
        <packages>
            <package name="org.wso2.carbon.esb.rest.test.api"/>
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.rest.test.api.ESBJAVA4519TestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Rest-API-Header-Test" preserve-order="true" verbose="2" parallel="false">
        <packages>
            <package name="org.wso2.carbon.esb.rest.test.header"/>
        </packages>
    </test>
    <!-- org.wso2.carbon.esb.rest.test.security  package commented since it requires carbon-identity release for
        applySecurity functionality in SecurityConfigAdmin -->
    <!--test name="POX-security-Test" preserve-order="true" verbose="2">
    	<packages>
    		<package name="org.wso2.carbon.esb.rest.test.security"/>
    	</packages>
    </test-->
    <test name="Rest-JSON-Test" preserve-order="true" verbose="2" parallel="false">
        <packages>
            <package name="org.wso2.carbon.esb.json.test"/>
        </packages>
    </test>
    <test name="CAR-Deployment" preserve-order="true" verbose="2" parallel="false">
        <packages>
            <package name="org.wso2.carbon.esb.car.deployment.test"/>
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.car.deployment.test.CAppDeploymentOrderTest">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="ScheduleTask-Test" preserve-order="true" verbose="2" parallel="false">
        <packages>
            <package name="org.wso2.carbon.esb.scheduledtask.test"/>
        </packages>
    </test>
    <test name="Tenant-Test" preserve-order="true" verbose="2" parallel="false">
        <packages>
            <package name="org.wso2.carbon.esb.tenant.test.*"/>
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.tenant.test.ServiceChainingTest">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Secure-Proxy-Test" preserve-order="true" verbose="2" parallel="false">
        <classes>
            <class name="org.wso2.carbon.esb.proxyservice.test.secureProxy.SecureProxyUsingPolicyFileInLocalEntryTestCase"/>
        </classes>
    </test>
</suite>
