<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESBTestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
    </listeners>

    <test name="Server-Startup-verification" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.ServerStartupTestCase"/>
        </classes>
    </test>

    <test name="Resource-MediaType-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.resource.test.*"/>
        </packages>
    </test>

    <test name="GZIP-Compression-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.compression.test.gzip.*"/>
        </packages>
    </test>

    <test name="SecureVault-Test" preserve-order="true" verbose="2" enabled="false">
        <packages>
            <package name="org.wso2.carbon.esb.securevalut.test.*"/>
        </packages>
    </test>

    <test name="Scenario-health-care" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.scenarios.test.healthcare.*"/>
        </packages>
    </test>

    <test name="Security-Test-Tryit" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.security.test.tryit"/>
        </packages>
    </test>

    <!-- Disabled due to jenkins failure with "no space left on device" -->
    <!--<test name="Test-Multiple-servers" preserve-order="true" verbose="2">-->
        <!--<classes>-->
            <!--<class name="org.wso2.carbon.esb.test.servers.NewInstanceTestCase"/>-->
            <!--<class name="org.wso2.carbon.esb.test.servers.OSGIUnsatisfiedServerBundlesTestCase">-->
		<!--<methods>-->
                    <!--<exclude name=".*"/>-->
                <!--</methods>-->
	    <!--</class>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="PostRequest-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.synapse.common.formatters"/>
        </packages>
    </test>
    <!-- Test are not written correctly need to review the pr
          https://github.com/wso2/product-esb/commit/6785fc470085f258de2709c995955354bfa95b15#diff-c1a07fd98068afcfb9702a5f9f597270-->
    <!--test name="Content-Type-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.contenttype.json.*"/>
        </packages>
    </test-->

    <test name="Content-Type-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.contenttype.json.XMLToJsonTestCase"/>
            <class name="org.wso2.carbon.esb.contenttype.json.XMLToJsonNilTestCase"/>
            <class name="org.wso2.carbon.esb.contenttype.json.JSONDisableAutoPrimitiveNumericTestCase"/>
            <class name="org.wso2.carbon.esb.contenttype.json.XMLToJsonTransformationPropertiesTestCase"/>
        </classes>
    </test>

    <test name="Mediation-Stat-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mediationstats.*"/>
        </packages>
    </test>

    <test name="Eager-Loading-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.eager.loading"/>
        </packages>
    </test>

    <test name="Template-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.template"/>
            <!--todo Uncomment below package after synapse 2.1.7-wso2v35 or higher upgrade-->
            <!--<package name="org.wso2.carbon.esb.template.endpointTemplate"/>-->
        </packages>
    </test>

    <test name="Stats-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.statistics"/>
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.statistics.ApiStatisticsTest">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Hot-Deployment-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.hotdeployment.test"/>
        </packages>
    </test>

    <test name="LocalEntry-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.localentry.test.*"/>
        </packages>
    </test>

    <test name="logging-tests" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.logging"/>
        </packages>
    </test>

    <test name="library-service-tests" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.connector.test" />
        </packages>
    </test>

    <test name="Synapse Handler Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.handler.HandlerTest"/>
        </classes>
    </test>

    <test name="FaultSequence tests" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.sequence.fault"/>
        </packages>
    </test>

</suite>


