<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DssTestSuite" parallel="false">
    <parameter name="useDefaultListeners" value="false"/>
    <test name="DSS-Integration-Test" parallel="false" verbose="2">

        <packages>

        </packages>

        <classes>

        </classes>

    </test>
</suite>
