[
  {rabbit, [
     {ssl_listeners, [5671]},
     {auth_mechanisms, ['EXTERNAL', 'PLAIN']},
     {ssl_options, [{cacertfile,"%cacertfile%"},
                    {certfile,"%certfile%"},
                    {keyfile,"%keyfile%"},
                    {verify,verify_peer},
                  {ssl_cert_login_from, common_name},
                  {fail_if_no_peer_cert,true}]}
   ]}
].
