<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DssTestSuite" parallel="false">
    <parameter name="useDefaultListeners" value="false"/>

    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>

    <test name="InitializeAndSetupServer" preserve-order="true">
        <classes>
            <class name="org.wso2.ei.dataservice.integration.test.server.mgt.DSSServerStartupTestCase"/>
            <!--disabled due to test failure-->
            <!--<class name="DSSServerBundleStatusTestCase"/>-->
        </classes>
    </test>

    <test name="DSS-Schedule-task-tests" parallel="false" verbose="2">
        <packages>
            <package name="org.wso2.ei.dataservice.integration.test.scheduletask"/>
        </packages>
    </test>

<!--    <test name="DSS-DBConsole" parallel="false" verbose="2">
        <packages>
            <package name="org.wso2.ei.dataservice.integration.test.dbConsole"/>
        </packages>
    </test>-->

    <test name="OData-tests" parallel="false" verbose="2">
        <packages>
            <package name="org.wso2.ei.dataservice.integration.test.odata"/>
        </packages>
    </test>

    <test name="RDF-tests" parallel="false" verbose="2">
        <packages>
            <package name="org.wso2.ei.dataservice.integration.test.rdf"/>
        </packages>
    </test>

    <test name="SPARQL-tests" parallel="false" verbose="2">
        <packages>
            <package name="org.wso2.ei.dataservice.integration.test.sparql"/>
        </packages>
    </test>

    <test name="DSS-file-service-tests" parallel="false" verbose="2">
        <packages>
            <package name="org.wso2.ei.dataservice.integration.test.fileservice"/>
        </packages>
    </test>
    <test name="DSS-service-tests" parallel="false" verbose="2">
        <packages>
            <package name="org.wso2.ei.dataservice.integration.test.services"/>
        </packages>
    </test>

    <test name="DSS-service-syntax-tests" parallel="false" verbose="2">
        <packages>
            <package name="org.wso2.ei.dataservice.integration.test.syntax"/>
        </packages>
    </test>

    <test name="DSS-faulty-service-tests" parallel="false" verbose="2">
        <packages>
            <package name="org.wso2.ei.dataservice.integration.test.faulty.service"/>
        </packages>
    </test>


    <test name="DSS-datasource-tests" parallel="false" verbose="2">
        <packages>
            <package name="org.wso2.ei.dataservice.integration.test.datasource"/>
        </packages>
    </test>

    <test name="DSS-jms-tests" parallel="false" verbose="2">
        <packages>
            <package name="org.wso2.ei.dataservice.integration.test.jmx.statistics"/>
        </packages>
    </test>

    <!--<test name="DSS-jira-issues-tests" parallel="false" verbose="2">-->
    <!--<packages>-->
    <!--<package name="org.wso2.ei.dataservice.integration.test.jira.issues"/>-->
    <!--</packages>-->
    <!--</test>-->


    <!--<test name="DSS-jira-issues-tests" parallel="false" verbose="2">-->
    <!--<classes>-->
    <!--<class name="CARBON15235JsonValueTypeMissMatchTest"/>-->
    <!--</classes>-->
    <!--</test>-->

    <!--<test name="DSS-jira-issues-tests-jsontest" parallel="false" verbose="2">-->
    <!--<classes>-->
    <!--<class name="DS1190JsonValueTypeMisMatchTest"/>-->
    <!--</classes>-->
    <!--</test>-->

    <!--<test name="DSS-jira-issues-xml-null-test" parallel="false" verbose="2">
        <classes>
            <class name="CARBON15879XmlNullElementTest"/>
        </classes>
    </test>-->

    <test name="DSS-samples-tests" parallel="false" verbose="2">
        <packages>
            <package name="org.wso2.ei.dataservice.integration.test.samples"/>
        </packages>
    </test>

    <!--<test name="DSS-jira-issues-tests-email" parallel="false" verbose="2">-->
        <!--<classes>-->
            <!--<class name="DS1063EmailUsernameTestCase"/>-->
        <!--</classes>-->
    <!--</test>-->

    <test name="DSS-jira-issues-tests" parallel="false" verbose="2">
        <packages>
            <package name="org.wso2.ei.dataservice.integration.test.jira.issues"/>
        </packages>
    </test>

    <!--<test name="DSS-jira-issues-tests-time" parallel="false" verbose="2">-->
        <!--<classes>-->
            <!--<class name="DS1069DifferentTimeStampStoreIssueTestCase"/>-->
        <!--</classes>-->
    <!--</test>-->

    <!--<test name="DSS-jira-issues-tests-time-legacy" parallel="false" verbose="2">
       <classes>
           <class name="DS1189LeagyTimeStampModeTestCase"/>
       </classes>
   </test>-->

<!--    <test name="DSS-jira-issues-boxcarring-parallel-access" parallel="false" verbose="2">
        <classes>
            <class name="DS1083BoxcarringParallelInsertTestCase"/>
            <class name="DS937BoxcarringTestCase"/>
        </classes>
    </test>-->

    <!--<test name="DSS-jira-issues-dataservice-duplicate" parallel="false" verbose="2">
        <classes>
            <class name="DS1103DuplicateDataServiceTestCase"/>
        </classes>
    </test>-->

   <!-- <test name="DSS-jira-issues-policy-key-without-policy-path" parallel="false" verbose="2">
        <classes>
            <class name="DS1031PolicyKeyWithoutPolicyPathTestCase"/>
        </classes>
    </test>-->

 <!--   <test name="DSS-jira-issues-escape-non-printable-chars" parallel="false" verbose="2">
        <classes>
            <class name="DS1090EscapeNonPrintableCharactersTestCase"/>
        </classes>
    </test>

    <test name="DSS-jira-issues-resource-with-same-context" parallel="false" verbose="2">
       <classes>
            <class name="ResourcesServiceTestWithSameContextNameTestCase"/>
        </classes>
    </test>
    
    &lt;!&ndash; todo test and uncomment below test once DSS is upgraded to kernel 4.4.x or 4.5.0 &ndash;&gt;
    <test name="DSS-jira-issues-XML-Entity-Attack-Test" parallel="false" verbose="2">
        <classes>
            <class name="CARBON15379XMLExternalEntityAttacksTestCase"/>
        </classes>
    </test>-->

    <test name="DSS-requestBox-tests" parallel="false" verbose="2">
        <packages>
            <package name="org.wso2.ei.dataservice.integration.test.requestBox"/>
        </packages>
    </test>

    <test name="DSS-gspread-tests" parallel="false" verbose="2">
        <classes>
            <class name="org.wso2.ei.dataservice.integration.test.gspread.GSpreadDataServiceTestCase"/>
        </classes>
    </test>
<!--
    <test name="DSS-jira-issues-role-extension-test" parallel="false" verbose="2">
        <classes>
            <class name="DS1111UserRoleExtensionTestCase"/>
        </classes>
    </test>

    <test name="DSS-jira-issues-json-render" parallel="false" verbose="2">
        <classes>
            <class name="DS1186JsonRenderTestCase"/>
        </classes>
    </test>

    <test name="DSS-jira-issues-delete-with-batchtest" parallel="false" verbose="2">
        <classes>
            <class name="DS1201DeleteWithBatchReqTest"/>
        </classes>
    </test>

    <test name="DSS-jira-issues-nullvalues" parallel="false" verbose="2">
        <classes>
            <class name="DS1081NullValuesTest"/>
            <class name="DS1194NestedQueryEmptyResultTest"/>
        </classes>
    </test>

    <test name="DSS-gson-tests">
        <classes>
            &lt;!&ndash;TODO: This was commented out due to intermittent build failures. Need to find the root cause and fix&ndash;&gt;
            <class name="CARBON15263JsonGsonFormatterSuperTenantModeTest"/>
            <class name="CARBON15339JsonGsonFormatterTenantModeTest"/>
            <class name="CARBON15262JsonGsonFormatterTenantModeTest"/>
            <class name="DS1209EqualElementNamesInJSONHierarchyTestCase"/>
        </classes>
    </test>

    <test name="DSS-repeat-service-name">
        <classes>
            <class name="CARBON15280RepeatServiceNameInURLTest"/>
        </classes>
    </test>-->
</suite>
