html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100%;
}
.page-content-wrapper {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    background-size:50px 50px;
}
a, a:visited, a:focus, a:active {
    text-decoration: none;
    color: #fff;
}
.cluster rect {
    stroke: #fff;
    stroke-width: 1.5pxs;
    stroke-dasharray: 5;
    stroke-dashoffset: 20;
    opacity: 0.5;
    fill: #232C35;
    transform: translate(3px,-7px);
}

.cluster > g.label > g {
/*            transform: translate(-33px,-112px);*/
}

.node .label foreignobject h2 {
    font-size: 16px;
    margin: 0 0 5px;
}

.node .label foreignobject h3 {
    margin: 0;
    font-size: 12px;
    text-align: left;
}

.node .label foreignobject h3 span {
    font-weight: normal;
    margin-left: 3px;
    color: #e4e4e4;
}

text {
    font-weight: 300;
    font-size: 14px;
    fill: #fff;
}

.node rect {
    fill: transparent;
    stroke: #fff;
    stroke-width: 2px;
}

.edgePath path {
    stroke: #5FDBCC;
    stroke-width: 2px;
    fill: transparent;
}

.edgePath .arrowhead {
    fill: #232C35;
}

#btnViewToggle {
    position: absolute;
    right: 40px;
    top: 40px;
}

.btn.btn-lg > .icon {
    vertical-align: text-bottom;
    margin-bottom: 2px;
    margin-right: 5px;
}