<!--
  ~ Copyright (c) 2014, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~   WSO2 Inc. licenses this file to you under the Apache License,
  ~   Version 2.0 (the "License"); you may not use this file except
  ~   in compliance with the License.
  ~   You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~   Unless required by applicable law or agreed to in writing,
  ~   software distributed under the License is distributed on an
  ~   "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~   KIND, either express or implied.  See the License for the
  ~   specific language governing permissions and limitations
  ~   under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="transport-test-suite">
    <parameter name="useDefaultListeners" value="false"/>

    <!-- Test that needs to run individually -->
    <test name="tests-transports-mqtt-sequential" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.ei.mb.integration.tests.mqtt.functional.BasicSendReceiveTestCase"/>
            <class name="org.wso2.ei.mb.integration.tests.mqtt.functional.MQTTLZ4CompressionTestCase"/>
            <class name="org.wso2.ei.mb.integration.tests.mqtt.functional.WildcardTestCase"/>
        </classes>
    </test>

    <!-- Tests which can run in parallel -->
    <test name="tests-transports-mqtt-parallel" preserve-order="false" parallel="false">

        <classes>
            <!-- functional test cases -->
            <class name="org.wso2.ei.mb.integration.tests.mqtt.functional.LongTopicTestCase"/>
            <class name="org.wso2.ei.mb.integration.tests.mqtt.functional.QOSTestCase"/>
            <class name="org.wso2.ei.mb.integration.tests.mqtt.functional.BasicSecurityTestCase"/>
            <class name="org.wso2.ei.mb.integration.tests.mqtt.functional.CleanSessionTestCase"/>
            <class name="org.wso2.ei.mb.integration.tests.mqtt.functional.RetainTopicTestCase"/>
            <class name="org.wso2.ei.mb.integration.tests.mqtt.functional.ClientReconnectTestCase"/>
            <class name="org.wso2.ei.mb.integration.tests.mqtt.functional.SingleClientMultipleSubscriptionsTestCase"/>
            <!--<class name="PermissionTestCase"/>-->

            <!-- load test cases -->
            <!--<class name="MultiThreadedMQTTTestCase"/>-->
            <!--<class name="QOSLoadTestCase"/>-->
            <class name="org.wso2.ei.mb.integration.tests.mqtt.load.OneMBMessageTestCase"/>
            <class name="org.wso2.ei.mb.integration.tests.mqtt.functional.BasicAuthorizationTestCase"/>
        </classes>
    </test>
</suite>
