<?xml version="1.0" encoding="UTF-8"?>
<proxy name="1_1_3_Proxy_soap_to_json_using_data_mapper" startOnLoad="true" transports="https http" xmlns="http://ws.apache.org/ns/synapse">
    <target>
        <inSequence>
            <log level="full"/>
            <datamapper config="gov:datamapper/config_convert_soap_to_json.dmc" inputSchema="gov:datamapper/config_convert_soap_to_json_inputSchema.json" inputType="XML" outputSchema="gov:datamapper/config_convert_soap_to_json_outputSchema.json" outputType="JSON" xsltStyleSheet="gov:datamapper/config_convert_soap_to_json_xsltStyleSheet.xml"/>
            <sequence key="callJsonMappingApi"/>
        </inSequence>
        <outSequence>
            <datamapper config="gov:datamapper/config_convert_json_to_soap.dmc" inputSchema="gov:datamapper/config_convert_json_to_soap_inputSchema.json" inputType="JSON" outputSchema="gov:datamapper/config_convert_json_to_soap_outputSchema.json" outputType="XML" xsltStyleSheet="gov:datamapper/config_convert_json_to_soap_xsltStyleSheet.xml"/>
            <property name="messageType" scope="axis2" type="STRING" value="text/xml"/>
            <respond/>
        </outSequence>
        <faultSequence>
            <makefault version="soap11">
                <code expression="get-property('ERROR_CODE')" xmlns:soap11Env="http://schemas.xmlsoap.org/soap/envelope/"/>
                <reason expression="get-property('ERROR_MESSAGE')"/>
            </makefault>
            <header action="remove" name="To" scope="default"/>
            <property name="messageType" scope="axis2" type="STRING" value="application/xml"/>
            <respond/>
        </faultSequence>
    </target>
</proxy>
