<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESBTestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>
    <test name="MailTo-transport-Test-Sender" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mailto.transport.sender.test.SenderBaseClass"/>
            <class name="org.wso2.carbon.esb.mailto.transport.sender.test.SendMailWithBCCThroughESBTestCase"/>
            <class name="org.wso2.carbon.esb.mailto.transport.sender.test.SendMailWithMultipartThroughESBTestCase"/>
            <class name="org.wso2.carbon.esb.mailto.transport.sender.test.SendMailWithSecondaryAccountThroughESBTestCase"/>
        </classes>
    </test>

    <test name="POST-Request-Without-Body-without-chunking" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4402MessageWithoutPayloadTestCase"/>
        </classes>
    </test>

    <test name="axis2-transport-test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.axis2.transport.test.MultipartFormDataFormatTestCase"/>
        </classes>
    </test>

    <test name="ViewPopRedirectTests" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.jms.ViewPopRedirectTests.RedirectTest"/>
            <class name="org.wso2.carbon.esb.jms.ViewPopRedirectTests.ViewPopTest"/>
        </classes>
    </test>

    <test name="passthru-Transport-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.passthru.transport.test.CheckAuthHeaderOrderTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ContentTypeCharsetTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA1897HttpHeadMethodTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA1994SOAPFormatSwitchingTestcase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA3022SendingSoapRequestAfterRestRequestTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA3051HTTPPatchMethodSupportTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4326OverridingHostHeaderTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4402MessageWithoutPayloadTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4468ContentTypeCharsetInResponseTestCase"/>
            <!--&lt;!&ndash;<class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4891ConsumeAndDiscardTest"/>&ndash;&gt;This is failing at all-->
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4999ResponsePayloadWithHTTPAcceptedTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.HeadMethodResponseTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.PartialInputStreamReadError"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.PassthroughTransportHttpProxyTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.RetrieveBackendWsdlTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.SetHostHttpHeaderTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.PttMaximumOpenConnections"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA5135ResponseBodyWith202TestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.HTTPDeleteTestCases"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.MTOMMIMEBoundaryWhenContentTypePreservedTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.CookieHeaderExpiresHavingCommaTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.SetPropertyMessageBuilderInvokedWithEmptyContentTypeTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.LocationHeaderWithRelativeURLPathTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ConversionWithNonSOAPContentTypeBackendTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.AcceptHeaderTestCase"/>
        </classes>
    </test>

    <test name="http-patch-method-support-test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA3051HTTPPatchMethodSupportTestCase"/>
        </classes>
    </test>

    <test name="JMS-securevault-test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.jms.securevault.test.JMSTransportSecureVaultTest"/>
        </classes>
    </test>

    <test name="JMS-transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.jms.transport.test.*"/>
        </packages>

        <classes>
            <class name="org.wso2.carbon.esb.jms.transport.test.ESBJAVA2824MissingResponseTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
            <class name="org.wso2.carbon.esb.jms.transport.test.JMSEndpointTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
            <class name="org.wso2.carbon.esb.jms.transport.test.MSMPCronForwarderCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
            <class name="org.wso2.carbon.esb.jms.transport.test.ESBJAVA1832MessageInjectorTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="inbound-Http Endpoint-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.http.inbound.transport.test.HttpInboundTransportTestCase"/>
<!--            <class name="org.wso2.carbon.esb.http.inbound.transport.test.HttpInboundTransportTenantTestCase"/>-->
            <class name="org.wso2.carbon.esb.http.inbound.transport.test.HttpInboundDispatchTestCase"/>
        </classes>
    </test>

    <test name="VFS-transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.vfs.transport.test.*"/>
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.vfs.transport.test.VFSTransportTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="TCP-transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.tcp.transport.test.*"/>
        </packages>
    </test>

    <!--disabled since feature management is used to install hl7 feature-->
    <!--    <test name="HL7-transport-Test" preserve-order="true" verbose="2">
            <packages>
                <package name="org.wso2.carbon.esb.hl7.transport.test.*"/>
            </packages>
        </test>-->

    <!--<test name="inbound-File Transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.file.inbound.transport.test"/>
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.file.inbound.transport.test.FtpInboundTransportTest">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
        </classes>
    </test>-->

    <test name="inbound-Generic Transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.generic.inbound.transport.test"/>
        </packages>
        <classes>
            <class name="org.wso2.carbon.esb.generic.inbound.transport.test.GenericInboundTransportTestCase">
                <methods>
                    <exclude name=".*" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="local Transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.local.transport.test"/>
        </packages>
    </test>

    <!--<test name="inbound-JMS Transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.jms.inbound.transport.test"/>
        </packages>
    </test>-->

    <test name="inbound-MQTT-Transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mqtt.inbound.transport.test"/>
        </packages>
    </test>

    <!-- Kafka is not availble with framework-->
    <!--test name="inbound-KAFKA Transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.kafka.inbound.transport.test"/>
        </packages>
    </test-->

    <test name="inbound-HL7 Transport-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.hl7.inbound.transport.test"/>
        </packages>
    </test>

    <test name="MailTo-transport-Test-Receiver" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.mailto.transport.receiver.test"/>
        </packages>
    </test>
    <test name="Https Inbound Transport Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.https.inbound.transport.test"/>
        </packages>

        <classes>
            <class name="org.wso2.carbon.esb.https.inbound.transport.test.HttpsInboundTransportTenantTestCase">
                <methods>
                    <exclude name=".*"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="SSL Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.ssl.test"/>
        </packages>
    </test>

    <test name="WebSocket-Inbound-Test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.websocket.inbound.transport.test"/>
        </packages>
    </test>

    <test name="nhttp-Transport-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.nhttp.transport.test.NhttpBaseTestCase"/>
            <class name="org.wso2.carbon.esb.nhttp.transport.test.DefaultRequestContentTypeTestCase"/>
            <class name="org.wso2.carbon.esb.nhttp.transport.test.ResponseAfterNttpEnabledTestCase"/>
            <class name="org.wso2.carbon.esb.nhttp.transport.test.NhttpMaximumOpenConnections"/>
            <class name="org.wso2.carbon.esb.nhttp.transport.test.ConfiguringNhttpAccessLogLocationTestCase"/>
            <class name="org.wso2.carbon.esb.nhttp.transport.test.ContentTypeCharsetTestCase"/>
            <class name="org.wso2.carbon.esb.nhttp.transport.test.MessageWithoutContentTypeTestCase"/>
            <class name="org.wso2.carbon.esb.nhttp.transport.test.OCSPCertificateValidationTestCase"/>
            <class name="org.wso2.carbon.esb.nhttp.transport.test.RetrieveBackendWsdlTestCase"/>
            <class name="org.wso2.carbon.esb.nhttp.transport.test.SetHostHttpHeaderTestCase"/>
            <class name="org.wso2.carbon.esb.nhttp.transport.test.MultipartFormdataMIMEBoundaryTestCase"/>
            <class name="org.wso2.carbon.esb.nhttp.transport.test.ESBJAVA3689AccessMIMEMessageContentTestCase"/>
        </classes>
    </test>
    <!-- Tests should not be added beyond this point since all those will run with the nhttp transport enabled
    unlike the default axis2.xml-->
</suite>

