<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESBTestSuite" parallel="false">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>

    <test name="RabbitMQ-Transport-Test" preserve-order="true" verbose="2">
        <packages>
            <!--Add basic tests that do not require to restart/stop or initialize rabbitmq server here.
            Other tests, include to a different package to avoid failures due to server stopping-->
            <package name="org.wso2.carbon.esb.rabbitmq.transport.test"/>
        </packages>
    </test>

    <test name="RabbitMQ-Transport-Connection-Recovery-Test" preserve-order="true" verbose="2">
        <packages>
            <!--Add independent tests to a different package. Recovery tests are added to a different package
            since it involves server stopping and restarting and cannot be handled with
            RabbitMQBrokerStartup testcase alone-->
            <package name="org.wso2.carbon.esb.rabbitmq.transport.recovery.test"/>
        </packages>
    </test>

    <test name="RabbitMQ-message-store-test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.rabbitmq.message.store.jira"/>
        </packages>
    </test>


    <test name="RabbitMQ-Transport-Qos-test" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.rabbitmq.qos.jira"/>
        </packages>
    </test>

    <test name="RabbitMQ-Transport-multiple-listner" preserve-order="true" verbose="2">
        <packages>
            <package name="org.wso2.carbon.esb.rabbitmq.multiple.listner"/>
        </packages>
    </test>

    <test name="RabbitMQ-Transport-securevault-test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.rabbitmq.securevault.TestRabbitMQSecureVaultSupport"/>
        </classes>
    </test>

</suite>

