<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BPS HumanTask Coordination TestSuite" parallel="false">
    <parameter name="useDefaultListeners" value="false"/>
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>

    <test name="Server Stratup" preserve-order="true" verbose="2">
        <classes>
        </classes>
    </test>
    <!-- HumanTask TestCases -->
    <test name="HumanTask Basic Test Cases" preserve-order="true" verbose="2" parallel="false">
        <classes>
            <class name="org.wso2.bps.integration.tests.coordination.HumanTaskCoordinationTest" />
        </classes>
    </test>

</suite>


